h1{
  background-color: #2574A9;
}

.rectangle1{
  width: 100%;
  height: 180px;
  background: #2574A9;
  float: left;
}

.rectangle2{
  width: 100%;
  height: 180px;
  background: #9A12B3;
  float: left;
}

.rectangle3{
  width: 100%;
  height: 180px;
  background: #DB0A5B;
  float: left;
}
