.votreidentite legend{
  background-color: #2574A9;
}
.votreidentite{
  background-color: #2574A9;
}
.addressedelivraison legend{
  background-color: #9A12B3;
}
.addressedelivraison{
  background-color: #9A12B3;
}
.informationdereglemant legend{
  background-color: #DB0A5B;
}
.informationdereglemant{
  background-color: #DB0A5B;
}
button{
  width: auto;
  float: left;
  text-align: center;
}
